<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

    <div class="about-container">
        <a href="/about" class="about-button">About</a>
    </div>

    <form method="POST">
        <h2>Login</h2>
        {% if erro %}
            <p>{{ erro }}</p>
        {% endif %}
        <input type="text" name="nome" placeholder="Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>