.recursos {
    padding: 10px 20px; 
    background: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    margin-bottom: 20px;
    }

.logout-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.logout-button {
    background-color: #e74c3c;
    padding: 10px 16px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    display: inline-block;
}
.logout-button:hover {
    background-color: #c0392b;
}
