 body {
            font-family: Arial;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #ffffff;
        }
        form {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        input {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 8px;
        }
        button {
            background: #007BFF;
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
        }
        p { color: red; }
    
.about-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.about-button {
    background-color: #3c3fe7;
    padding: 10px 16px;
    border-radius: 6px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    display: inline-block;
}
.about-button:hover {
    background-color: #3c3fe7;
}