body {
    background: #000000;
    color: #ffffff;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
}

.about-button {
    color: #fff;
    text-decoration: none;
    background: #111;
    border: 1px solid #555;
    padding: 8px 15px;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 15px;
}

.about-button:hover {
    background: #333;
    border-color: #888;
}



form {
    background: #111;
    padding: 25px 40px;
    margin-top: 30px;
    border: 2px solid #222;
    border-radius: 12px;
    width: 330px;
    text-align: center;
    box-shadow: 0 0 20px rgba(80, 80, 80, 0.2);
}

form h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}


form input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #000;
    color: white;
    font-size: 16px;
}

form input:focus {
    border-color: #888;
    outline: none;
}


form button {
    width: 95%;
    padding: 12px;
    background: #0a0a0a;
    border: 1px solid #555;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #222;
    border-color: #888;
}


.erro {
    color: #ff4444;
    margin-bottom: 10px;
}