body {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 160px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #0af;
    text-shadow: 0 0 10px #0af;
    margin-bottom: 30px;
}

.btn-voltar-home {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #0af;
    text-decoration: none;
    border: 2px solid #0af;
    padding: 8px 14px;
    border-radius: 6px;
    transition: .3s;
}

.btn-voltar-home:hover {
    background-color: #0af;
    color: #000;
    box-shadow: 0 0 12px #0af;
}

.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button {
    color: #f55;
    text-decoration: none;
    border: 2px solid #f55;
    padding: 8px 14px;
    border-radius: 6px;
    transition: .3s;
}

.logout-button:hover {
    background-color: #f55;
    color: #000;
    box-shadow: 0 0 12px #f55;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 40px;
    color: white;
}

table th, table td {
    padding: 12px;
    border-bottom: 1px solid #0af;
}

table th {
    background-color: #0a0a0a;
    color: #0af;
    text-shadow: 0 0 8px #0af;
}

.btn-add-item {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #000;
    border: 2px solid #0af;
    color: #0af;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-add-item:hover {
    background-color: #0af;
    color: #000;
    box-shadow: 0 0 12px #0af;
}

.acoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-acao {
    padding: 6px 12px;
    border: 1px solid #0af;
    background-color: black;
    color: #0af;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.add:hover {
    background-color: #0f0;
    color: #000;
}

.remove:hover {
    background-color: #f33;
    color: #000;
}

.atualizar:hover {
    background-color: #0af;
    color: #000;
}

.delete:hover {
    background-color: red;
    color: #000;
}

.input-quantidade {
    width: 60px;
    padding: 5px;
    background-color: #111;
    color: white;
    border: 1px solid #0af;
    border-radius: 5px;
}