
body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}
table {
    width: 80%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}
th {
    background: #4CAF50;
    color: white;
}
button {
    padding: 5px 10px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.minus {
    background: #d9534f;
}

.logout-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
.logout-button {
    background-color: #e74c3c;
    padding: 10px 16px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    display: inline-block;
}
.logout-button:hover {
    background-color: #c0392b;
}

.form-set-quantidade {
    display: inline;
}


.input-quantidade {
    width: 70px;
    padding: 5px;
    font-size: 14px;
}

.btn-atualizar {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-atualizar:hover {
    background-color: #2980b9;
}

.btn-remover-link {
    text-decoration: none;
}

.btn-remover {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-remover:hover {
    background-color: #c0392b;
}

.btn-add-item {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-add-item:hover {
    background-color: #218838;
}

.btn-voltar-home {
    display: inline-block;
    background-color: #6c757d;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-voltar-home:hover {
    background-color: #5a6268;
}