body {
    background-color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-button {
    background-color: #d9534f;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

.logout-button:hover {
    background-color: #c9302c;
}

.btn-voltar-home {
    position: absolute;
    top: 20px;
    left: 20px;

    background-color: #5a6268;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn-voltar-home:hover {
    background-color: #444b50;
}

.container {
    width: 420px;
    background: rgb(0, 0, 0);
    margin: 120px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(251, 255, 0, 0.15);
}

.container h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #0af;
    text-shadow: 0 0 10px #0af;
}

input, select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #999;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
}

input:focus,
select:focus {
    border-color: #007bff;
}

button[type="submit"] {
    background-color: #0275d8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
    transition: 0.2s;
}

button[type="submit"]:hover {
    background-color: #025aa5;
}

.btn-cancelar {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-cancelar:hover {
    background-color: #545b62;
}
